
h1 {
  color: white;
}

.about-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}



.about-textContainer {
  margin: 0 1em 0 1em; 
}

  .about-textContainer p {
    font-size: 1.5em;
  }

#about-contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% 10%;
}

#imageViewer {
  width: 60%;
}
