#about-contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.about-textContainer {
  width: 80%;
}

.about-textContainer p {
  font-size: 1.25em;
}

@media (min-width: 768px) {
  #imageViewer {
    width: 70%;
  }
}
@media (max-width: 768px) {
  #imageViewer {
    width: 90%;
  }
}












