<div id="AIChatContainer">
  <div id="AIChatWindow" [ngClass]="{ 'show': AIchatOpen }">
    <div id="AIChatWindowBanner">
      <h3>AI Assistant</h3>
    </div>
    <div id="AIChatMessages"></div>
    <div id="AIChatInputContainer">
      <input type="text" id="AIChatInput" name="userInput" placeholder="Chat with the portfolio AI assistant">
      <button id="AIChatSendButton" aria-label="Send message to AI assistant button">
        <img id="AIChatSendIMG" src="resources/AI_ChatSend.svg"/>
      </button>
    </div>
  </div>
  <div id="AIChatButtonContainer">
    <button id="AIChatButton" (click)="toggleAIchat()" aria-label="Toggle AI chat window button">
      <img id="AIChatIcon" src="resources/AI_ChatIcon.svg" />
    </button>
  </div>
</div>
