
#AIChatWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2vh;
  box-shadow: 0 0 2vh #808080;
  margin-right: 2vh;
  overflow: hidden;
  background-color: white;
}
#AIChatWindowBanner {
    justify-items: center;
    background-color: #4A90E2;
}
#AIChatWindowBanner h3{
    margin: 1vh;
}
#AIChatMessages{
    flex-grow: 1;
}
#AIChatInputContainer {
    display: flex;
    flex-direction: row;
    border: solid;
    border-radius: 1vh;
    margin: 1vh;
    padding: .25vh;
    background-color: white;
}
#AIChatInput {
  height: 3.5vh;
  flex-grow: 1;
  border: none;
  outline: none;
  padding: .25vh;
}
#AIChatSendButton {
  background-color: white;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#AIChatButtonContainer {
  display: flex;
  justify-content: end;
}
#AIChatButton {
    background: none;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
@media (min-width: 768px) {
  #AIChatWindow {
      width: 40vh;
      height: 50vh;
  }
  #AIChatInput{
      height: 4vh;
  }
  #AIChatIcon {
    width: 8vh;
    height: 8vh;
  }
}

@media (max-width: 768px) {

}
