<header>
  <h3>Alex Richards</h3>
  <div class="nav-links">
    <a class="nav-link" routerLink="/home">Home</a>
    <a class="nav-link" routerLink="/about">About</a>
    <a class="nav-link" routerLink="/projects">Projects</a>
    <a class="nav-link" routerLink="/contact">Contact</a>
    <a id="linkedin-link" href="https://www.linkedin.com/in/alex-richards-a93a5513a/" target="_blank" rel="noopener noreferrer">
      <img src="resources\linkedinIcon-blk.png" alt="Linkedin" />
    </a>
  </div>
</header>
<main class="main">
  
</main>
<router-outlet />
