#InvMan-contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.InvMan-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.InvMan-textContainer {
  width: 80%;
}

.InvMan-textContainer p {
  font-size: 1.25em;
  text-indent: 2em;
}

.InvMan-textContainer ul {
  font-size: 1.25em;
}

@media (min-width: 768px) {
  #imageViewer {
    width: 70%;
  }
}

@media (max-width: 768px) {
  #imageViewer {
    width: 90%;
  }
}
