#DegP-contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.DegP-textContainer p {
  font-size: 1.25em;
  text-indent: 2em;
}

.DegP-textContainer ul {
  font-size: 1.25em;
}

#quotedText {
    font-style: italic;
    background: #f9f9f9;
    border-left: .25em solid #ccc;
    color: #333;
    margin: 1.5em 0;
    padding: 1em 1.5em;
}

@media (min-width: 768px) {
  .DegP-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
  }

  .DegP-textContainer {
    padding: 0 1em;
    width: 50%;
  }

  #imageViewer {
      max-width: 50%;
  }
}

@media (max-width: 768px) {
  .DegP-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
  }

  #imageViewer {
    max-width: 90vw;
  }
}
