<div id="projectsNavbar">
  <a id="plannerapp-link"
     class="project-link"
     routerLink="/projects/plannerapp"
     routerLinkActive="active-projectLink"
     [routerLinkActiveOptions]="{ exact: true }">
    Degree Planner
  </a>
  <a id="recipekeeper-link"
     class="project-link"
     routerLink="/projects/recipekeeper"
     routerLinkActive="active-projectLink"
     [routerLinkActiveOptions]="{ exact: true }">
    Recipe Keeper
  </a>
  <a id="inventorywinapp-link"
     class="project-link"
     routerLink="/projects/inventorywinapp"
     routerLinkActive="active-projectLink"
     [routerLinkActiveOptions]="{ exact: true }">
    Inventory Manager
  </a>
</div>
<router-outlet></router-outlet>
