:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.RK-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}
.RK-screenshot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.RK-textContainer {
    flex: 1;
    padding: 0 1em;

}

  .RK-textContainer p {
    font-size: 1.25em;
    text-indent: 2em;
  }
  .RK-textContainer ul {
    font-size: 1.25em;
  }

#RK-contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10% auto;
}
#imageViewer{
    display: flex;
    flex: 1;
    max-width: 30%;
}
