#viewerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

#viewerImage {
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.viewerButton {
  all: unset;
  cursor: pointer;
  height: 100px;
  width: 100px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewerButton svg {
  width: 2em;
  height: 2em;
}

.viewerButton:disabled {
    cursor: default;
    opacity: .5;
}
