#viewerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

#viewerImage {
  width: auto;
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
}

.viewerButton {
  all: unset;
  cursor: pointer;
  height: 100px;
  width: 100px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewerButton svg {
  width: 2em;
  height: 2em;
}

#viewerImage-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.viewerButton:disabled {
  cursor: default;
  opacity: .5;
}

@media (min-width: 768px) {
  #viewerImage-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
}

@media (max-width: 768px) {
  #viewerImage-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
  }
}
