
<div id="home-content">
  <img id="home-portrait" src="resources/home_images/portraitPic.jpg" alt="Portrait of Alex Richards"/>
  <div id="home-textContainer">
    <p>Welcome!</p>
    <p>I'm Alex, a software engineer passionate about bridging the gap between hardware and software.</p>
    <p>Feel free to learn more about me, check out my project pages, or reach out if you'd like to collaborate or chat using the contact form or the LinkedIn link.</p>
    <p>Thanks for visiting!</p>
  </div>
</div>
