:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
#contactForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
    text-align: center;
    max-width: 60%;
}

  @media (min-width: 768px) {
    app-contact-form {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    app-contact-form {
      width: 90%;
    }
  }
